.vs/
.idea/
**/bin/
**/obj/
artifacts/
*.user
*.suo
*.pfx
*.snk
*.log
cloud_auth_config.json
appsettings.local.json
config/appsettings.json
*.private.json
*.production.json
deployment/

/appsettings.json
**/bitlocker_recovery_keys.csv
**/bitlocker_status.json
**/bitlocker_last_success.json
**/bitlocker_dc_test_status.json
**/cloud_app_setup.json
